$primary-text-color: #272727;
$secondary-color: #2ee297;
$secondary-text-color: #a6a6a6;
$black-bgcolor: #a1a1a1;
$bleu-color: #198c95;
$darkbleu-bgcolor : #0f2830;
$boder-color: #dcdfe2;
$default-border: 1px solid $boder-color;
$default-border-radius: 0.5rem;
$light-bgcolor: #fff;
$white-color: #fff;
$blue-color: #1dc9d4;
$default-transition: all 0.3s ease-in-out;


// screen sizes
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;