@import '../../assets/scss/variable';

.BaseButton {
    padding: 0.8rem 2.5rem;
    text-transform: capitalize;
    font-size: 1.4rem;
    color: $primary-text-color;
    background-color: $secondary-color;
    font-weight: 600;
    box-shadow: none;

    &:hover {
        box-shadow: none;
    }
}